<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>MILINA | <%= title %> </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <!-- <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div> -->
      <!-- end loader -->
      <!-- header -->
      <%- include('shared/navbar.ejs'); %>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="myCarousel" class="carousel slide banner1" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <% bannerCounter = 1 %> 
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container-fluid">
                     <div class="carousel-caption relative">
                        <div class="row d_flex">
                           <div class="col-md-6">
                              <img class="bann_img" src="images/banner_ing.jpg" alt="#"/>
                           </div>
                           <div class="col-md-6">
                              <span><%= bannerCounter++  %> / <%= size  %>  </span>
                              <h1>Milina nail Salon Creating Beauty</h1>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo</p>
                              <a class="get_btn" href="/appointment" role="button">Get Appoinment</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <% number = 1; %> 
               <% for (let banner of banners) { %>
                  <% if (number++ > 1) { %>
                     <div class="carousel-item">
                        <div class="container-fluid">
                           <div class="carousel-caption relative">
                              <div class="row d_flex">
                                 <div class="col-md-6">
                                    <img class="bann_img" src="<%= banner.image %> " alt="#"/>
                                 </div>
                                 <div class="col-md-6">
                                    <span><%= bannerCounter++ %> / <%= size  %>   </span>
                                    <h1><%= banner.head %></h1>
                                    <p><%= banner.description %></p>
                                    <a class="get_btn" href="Javascript:void(0)" role="button" href="/appiontment">Get Appoinment</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  <% } %>  
                  
               <% } %> 
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
               <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
               <span class="sr-only">Previous</span>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
               <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
               <span class="sr-only">Next</span>
               </a>
            </div>
         </div>
      </section>
      <!-- end banner -->
      <!-- what we do  -->
      <div class="we_do slin">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>What We Do </h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-10 offset-lg-1 col-md-12">
                  <div class="row">
                     <% for (let works of work) { %> 
                        <div class="col-md-3 col-sm-6">
                           <div class="we_box">
                              <i><img src="<%= works.image %>" alt="#"/></i>
                              <h3><%= works.name %> </h3>
                              <p><%= works.description %> </p>
                           </div>
                        </div>
                     <% } %> 
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end what we do  -->
      <!-- about -->
      <div class="about slin2">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-6">
                  <div class="titlepage">
                     <h2>About Us</h2>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                     <a class="read_more" href="/about">Read More</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img">
                     <figure><img src="images/about.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- our pricing -->
      <div  class="pricing slin">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Pricing</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <% for (let plan of plans) { %> 
                  <div class="col-md-4">
                     <div class="pricing_box">
                        <div class="pricing_box_ti">
                           <h3> <span>$</span><%= plan.price %> <strong>/Day</strong></h3>
                        </div>
                        <div class="our_pricing">
                           <span><%= plan.type %></span>
                           <p><%= plan.description %></p>
                        </div>
                     </div>
                     <a class="read_more mar_top" href="Javascript:void(0)"> Book Now</a>
                  </div>
               <% } %>
            </div>
         </div>
      </div>
      <!-- end our pricing -->
      <!-- experts -->
      <div  class="experts slin2">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Meet Our Experts</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-8 offset-lg-2 col-md-12">
                  <div class="row">
                     <% for (let expert of experts) { %>
                        <div class="col-md-4">
                           <div id="exp" class="experts_box">
                              <div class="experts_img">
                                 <figure><img src="<%= expert.image %>" alt="#"/></figure>
                              </div>
                              <div class="meet">
                                 <h3><%= expert.name %> </h3>
                                 <p><%= expert.bio %></p>
                              </div>
                           </div>
                        </div>
                     <% } %>  
                     
                     <div class="col-md-12">
                        <a class="read_more mar_top exper" href="Javascript:void(0)"> Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end experts -->
      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Get In Touch</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 offset-md-3">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Full Name" type="type" name="Full Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email " type="type" name="Email "> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message</textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="map_main">
                     <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="386" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
      <%- include('shared/footer.ejs'); %> 
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>

